<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>This is service for sending email via Gsuite service</h1>
     <p></p>
     <fieldset>
      <legend>Calculate hash for your tokens</legend>
      <form action="/getHashForTokens" method="post">  
        <p><label>Insert text from credentials.json <input type="text" name="credentials" required></label></p>
        <p><label>Insert text from token.json <input type="text" name="token" required></label></p>
        <p><button type="submit">Calculate</button></p>
      </form> 
     </fieldset>
  </body>
</html>